<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<br><br>
<div class="sidenav">
  <a href="#">Academic Resources</a>
  <a href="#">Employer Resources</a>
  <a href="#">Your Benefits Catalog</a>
  <a href="#">Contact Your SSA</a>
</div><br>

<h1> My Goals </h1><br> 

<p><a href="/goals/new">Make a New Goal </a></p><br>

<div class="main">
<% @goals.each.with_index(1) do |goal, i| %>
    <div class="goal">
    <h3><a href="/goals/<%=goal.id%>"><%= i %>.</a> <%=goal.content%></h3></td> 
    <p>Date Created: <%=goal.date_created%></p>
    <p>To be accomplished by: <%=goal.completion_goal_date%></p>
    <% if goal.successful == 1%>
        <p>Congrats! You Accomplished This Goal!</p>
    <%else%>
        <p><a href="/goals/<%=goal.id%>/edit">Edit Goal or Mark Accomplished </a></p>
        <%end%>
    <form method="post" action="/goals/<%=goal.id%>/delete" >
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Goal">
    </form>
        <br><br>
    <%end%>
    
    </div>
    <a href="/logout"> Log Out </a>

</div>


    
